SPECIALIST_APP/bin/
SPECIALIST_APP/obj/
RH_APP/bin/
RH_APP/obj/
Mallaca/obj/Debug/Mallaca.csproj.FileListAbsolute.txt
SPECIALIST_APP/Fakes/
SPECIALIST_APP/FakesAssemblies/
RH_Server/obj/
Mallaca/bin/Debug/Mallaca.pdb
Mallaca/bin/
Mallaca/obj/
RH_Server/bin/
RH_Server/obj/